@use "../../../../../styles/shared/mixins" as *;

.hero {
  @include section-height;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;

  @include tablet-down {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  @include mobile-down {
    top: -120px;
    min-height: 60vh;
    max-height: 500px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
