@use "../../../../styles/shared/mixins" as *;

.showCase {
  position: relative;
  width: 100%;
  @include section-height;
  overflow: hidden;
  border-radius: 48px;
  margin: 40px 0;
}

.bgImage {
    @include section-bg-image;
  z-index: 0;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

@include tablet-down {
  .showCase {
    border-radius: 32px;
    margin: 24px 0;
  }
}

@include mobile-down {
  .showCase {
    height: 280px;
    min-height: auto;
    max-height: none;
    border-radius: 24px;
    margin: 16px 0;
  }
}
