@use "../../../../../styles/shared/mixins.scss" as *;

$arrow-blue: #003bd8;

.slider {
  @include section-height;
  position: relative;
  margin-top: -60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;

  @include tablet-down {
    margin-top: 40px;
    padding: 24px 56px 48px;
  }

  @include mobile-down {
    @include section-height-mobile;
    margin-top: 0px;
    padding: 0px 10px;
  }
}

.sliderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include mobile-down {
    gap: 10px;
  }
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;

  @include tablet-down {
    border-radius: 24px;
  }

  @include mobile-down {
    border-radius: 16px;
    height: 80%;
  }
}

.slideTrack {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slideItem {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: inherit;
}

.arrowIcon {
  min-width: 40px;
  min-height: 50px;

  @include mobile-down {
    min-width: 20px;
    min-height: 20px;
    max-width: 25px;
    max-height: 25px;
  }
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include mobile-down {
    gap: 4px;
  }
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
  background: #ffffff;
  opacity: 0.9;

  @include mobile-down {
    width: 10px;
    height: 10px;
    min-height: 10px;
    max-height: 10px;
  }
}

.activeDot {
  background: $arrow-blue;
}
