@use "../../../../styles/shared/mixins" as *;

.brandMark {
  position: relative;
  width: 100%;
  @include section-height;
  overflow: hidden;
  border-radius: 48px;
  margin-bottom: -40px;
  z-index: 1;
}

.bgImage {
  position: absolute;
  inset: 0;
  @include section-bg-image;
  z-index: 0;
}

@include tablet-down {
  .brandMark {
    border-radius: 32px;
    margin-bottom: -24px;
  }
}

@include mobile-down {
  .brandMark {
    min-height: 50vh;
    max-height: 400px;
    border-radius: 24px;
    margin-bottom: -16px;
  }
}
