@font-face {
  font-family: "F37 Ginger Greek";
  src: url("/fonts/F37GingerGreek-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gothic 60";
  src: url("/fonts/Gothic60-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
