@use "../../../../styles/shared/mixins" as *;

.hero {
  @include section-height;
  position: relative;
  width: 100%;
  overflow: hidden;

  @include mobile-down {
    @include section-height-mobile;
  }
}

.heroInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroImage {
  @include section-bg-image;
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  cursor: pointer;
}
