@use "../shared/variables" as *;
@use "../shared/fonts";
@use "./reset.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: #393939;
  background-color: #f1f3ff;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Remove default mobile tap highlight (blue flash) on interactive elements
button,
a,
select {
  -webkit-tap-highlight-color: transparent;
}

