@use "../../../../styles/shared/mixins" as *;

.section {
  @include section-height;
  position: relative;
  width: 100%;
  overflow: hidden;
  @include mobile-down {
    height: 50vh;
    min-height: 300px;
    max-height: 400px;
  }
}

.heroInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroImage {
  @include section-bg-image;
}

.sectionsWrapper {
  background-image: url("/projects-pages/steppe-coffee/bg-sections.png");
  padding-top: 40px;
  border-radius: 48px;
}
