@use "../../../../../styles/shared/mixins.scss" as *;

.section {
  @include section-height;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 48px;
  display: flex;
  gap: 10px;
  margin: 40px 0;

  @include tablet-down {
    flex-direction: column;
    border-radius: 32px;
    height: auto;
    min-height: auto;
    max-height: none;
  }

  @include mobile-down {
    @include section-height-mobile;
    border-radius: 24px;
    margin: 20px 0;
  }
}

.item {
  flex: 1 1 0;
  position: relative;
  overflow: hidden;
  border-radius: 24px;

  @include tablet-down {
    min-height: 800px;
  }

  @include mobile-down {
    min-height: 280px;
  }
}

.image,
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.image {
  position: absolute;
  inset: 0;
}

.video {
  background: #000;
}
