// // *, *::before, *::after {
// //     cursor: none !important;
// //   }
  
//   /* Светящийся курсор */
//   // .custom-cursor {
//   //   position: fixed;
//   //   top: 0;
//   //   left: 0;
//   //   width: 18px;
//   //   height: 18px;
//   //   border-radius: 50%;
//   //   background-color: rgba(255, 255, 255, 0.8);
//   //   box-shadow:
//   //     0 0 8px rgba(255, 255, 255, 0.5),
//   //     0 0 16px rgba(255, 255, 255, 0.3);
//   //   pointer-events: none;
//   //   transform: translate(-50%, -50%);
//   //   z-index: 9999;
//   //   will-change: transform;
//   //   transition: transform 0.15s ease-out, box-shadow 0.2s ease;
//   //   animation: cursorPulse 2s ease-in-out infinite;
//   // }
//   .custom-cursor {
//     position: fixed;
//     width: 18px;
//     height: 18px;
//     background: rgba(255, 255, 255, 0.1);
//     border: 1.5px solid white;
//     border-radius: 50%;
//     pointer-events: none;
//     z-index: 9999;
//     transform: translate(-50%, -50%);
//     transition: transform 0.1s ease, opacity 0.2s ease;
//     will-change: transform;
//     backdrop-filter: blur(2px);
//   }
//   /* Эффект при наведении */
//   .custom-cursor.cursor-hover {
//     transform: translate(-50%, -50%) scale(1.5);
//     box-shadow:
//       0 0 12px rgba(255, 255, 255, 0.8),
//       0 0 24px rgba(255, 255, 255, 0.6);
//     background-color: rgba(255, 255, 255, 0.9);
//   }
//   .custom-cursor.cursor-hidden {
//     opacity: 0;
//     transition: opacity 0.3s ease;
//   }
  
//   /* Анимация свечения */
//   @keyframes cursorPulse {
//     0%, 100% {
//       box-shadow:
//         0 0 8px rgba(255, 255, 255, 0.5),
//         0 0 16px rgba(255, 255, 255, 0.3);
//     }
//     50% {
//       box-shadow:
//         0 0 14px rgba(255, 255, 255, 0.6),
//         0 0 28px rgba(255, 255, 255, 0.4);
//     }
//   }
.about-section {
  padding: 100px 20px;
  background: #f8f8f8;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #222;
    font-weight: 700;
  }

  p {
    font-size: 17px;
    line-height: 1.7;
    color: #444;
    max-width: 700px;
  }

  .img-about {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 200px;
    opacity: 0.07;
    pointer-events: none;
  }

  @media (max-width: 768px) {
    .img-about {
      display: none;
    }

    p {
      max-width: 100%;
    }
  }
}